.login {
  min-height: 100vh;
  min-width: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/images/rectangle-5.png');
  display: flex;

  .login-container {
    margin: auto;
    width: 100%;
    max-width: 380px;
    min-height: 240px;
    background-color: rgba(61, 61, 63, 0.8);
    padding: 32px;
    border-radius: 2px;

    h1 {
      text-align: center;
      margin: 0 0 20px;
      font-size: 32px;
      color: var(--bright-orange);
    }

    form {
      label {
        font-size: 18px;
        font-weight: 600;
        color: var(--greyish);
      }
      button {
        margin-top: 20px;
        font-weight: 600;
        background-color: var(--pumpkin-orange);
        border: none;
      }
      .ant-form-item-required::before {
        display: none;
      }
    }
    .forgot {
      font-weight: 600;
      color: var(--white-two);
    }
  }
}
