.photos {
  margin: 30px 0 18px;

  input {
    display: none;
  }

  .label {
    display: flex;
    justify-content: flex-end;

    label {
      margin: auto 12px;
      font-weight: 500;
    }
  }

  .img-preview {
    position: relative;

    img {
      width: 100%;
    }

    .close-btn {
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }

  .click-add-img {
    height: 100%;
    min-height: 270px;
    border-radius: 2px;
    border: 1px var(--white-three) solid;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    img {
      width: 24px;
      margin: 0 auto;
    }
  }

  h2 {
    color: var(--greyish);
  }
}

.form-add {
  label {
    font-weight: 500;

    &::before,
    &::after {
      display: none;
    }
  }

  .ant-form-item-label {
    display: flex;
    label {
      margin: auto 12px auto auto;
    }
  }

  .ant-input-number {
    width: 100%;
  }

  .btn-group {
    text-align: right;
  }
}
