.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  .title {
    margin: auto 0;

    h1 {
      font-size: 28px;
      font-weight: bold;
      margin: 0px;
      color: var(--dark-grey);
    }

    h4 {
      margin: 0;
      color: var(--charcoal-grey);
    }
  }
  .user {
    margin: auto 0;

    .ant-avatar {
      box-shadow: 0 5px 20px 0 rgba(61, 61, 63, 0.2);
    }
    
    button {
      span {
        font-weight: 600;
      }
    }
  }
}
