.sidebar {
  width: 220px;
  border-right: 1px #e1e1e1 solid;

  .logo {
    padding: 32px;
    display: flex;

    img {
      width: 100%;
      margin: auto;
    }
  }

  .navbar {
    height: 48px;
    width: 100%;
    display: flex;

    a {
      box-sizing: border-box;
      padding: 13px 20px;
      width: 100%;
      margin: auto;
      span {
        font-weight: 600;
      }
      svg {
        font-size: 24px;
        color: var(--charcoal-grey);
      }

      &.active {
        border-left: 4px solid var(--bright-orange);
        padding: 13px 16px;

        span {
          color: var(--bright-orange);
        }
        
        img,
        svg {
          fill: var(--bright-orange);
        }
      }
    }
  }
}
