.products {
  padding: 24px;

  .ulity {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .left {
      label {
        font-weight: 600;
        color: var(--greyish);
        margin-right: 12px;
      }

      select {
        -moz-appearance: none; /* Firefox */
        -webkit-appearance: none; /* Safari and Chrome */
        appearance: none;
        background-image: url('../../assets//images/dropdown.svg');
        background-repeat: no-repeat;
        background-position-x: calc(100% - 6px);
        background-position-y: 13px;
        border: 1px solid #dfdfdf;
        border-radius: 2px;
        margin-right: 2rem;
        padding: 12px;
        padding-right: 2rem;
        font-weight: 600;
        font-size: 16px;

        &:focus,
        &:hover {
          // border-color: var(--bright-orange);
          outline: none;
          box-shadow: 0 0 0 2px #ffa25fd5;
        }
      }
    }

    .right {
      display: flex;
      justify-content: space-between;
      margin-right: 0;

      .ant-input-affix-wrapper {
        max-width: 280px;
        border-radius: 2px;
        border-color: transparent;

        &:hover,
        &.ant-input-affix-wrapper-focused {
          box-shadow: 0 0 0 2px var(--sandy);
        }
      }

      button {
        height: 51px;
        margin: 0;

        span {
          margin: 0 6px;
        }
      }

      a {
        margin: 0 24px;
      }
    }
  }

  .ant-table-thead {
    .ant-table-cell {
      color: var(--greyish);
    }
  }

  .ant-table-tbody {
    .ant-table-cell {
      button span {
        color: var(--charcoal-grey);
        font-weight: 600;
        font-size: 18px;
      }

      button svg {
        color: var(--greyish);
      }
    }
  }

  .text {
    font-weight: 600;
    font-size: 18px;
    color: var(--charcoal-grey);
  }

  .table-item {
    display: flex;

    .info {
      margin-left: 20px;

      h2 {
        margin-bottom: 0;
        color: var(--charcoal-grey);
      }

      span {
        font-weight: 500;
        color: var(--greyish);
      }
    }

    img {
      height: 40px;
      margin: auto 0;
    }
  }

  .ant-pagination-item {
    border-color: var(--white-two);
  }

  .ant-pagination-jump-prev,
  .ant-pagination-jump-next {
    svg {
      color: var(--bright-orange);
    }
  }

  .ant-pagination-item:hover,
  .ant-pagination-item-active,
  .ant-pagination-item-link:hover {
    background-color: var(--bright-orange);
    border: none;
    font-weight: 500;
    color: var(--white);

    a {
      color: var(--white);
    }
  }
}

.ant-dropdown-menu-item {
  min-width: 130px;
  span {
    font-size: 16px;
    font-weight: 600;
    margin: auto 10px;
    color: var(--greyish-brown);
  }

  svg {
    font-size: 18px;
  }
}
