@import 'antd/dist/antd.css';

.container {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  display: flex;
}

.secondary-btn,
.primary-btn {
  border: none;

  span {
    font-weight: 500;
    margin: auto 30px;
  }
}

.secondary-btn {
  margin-right: 20px;
  color: var(--bright-orange);

  &:hover {
    color: var(--bright-orange);
  }
}

.primary-btn {
  background-color: var(--bright-orange);
  color: var(--white);

  &:hover {
    background-color: var(--bright-orange);
  }
}

.input-primary {
  &:hover {
    border-color: var(--bright-orange);
  }
}