@import './fonts.scss';

:root {
  --white: #ffffff;
  --white-two: #f6f6f6;
  --white-three: #ededed;
  --white-four: #d4d3d3;
  --white-five: #fbfbfb;
  --white-six: #eaeaea;
  --greyish: #acacac;
  --greyish-two: #b7b7b7;
  --greyish-brown: #4d4d4d;
  --charcoal-grey: #3d3d3f;
  --pinkish-grey: #cccccc;
  --brown-grey: #979797;
  --dark-grey: #202124;
  --pumpkin-orange: #ff7413;
  --bright-orange: #ff6900;
  --pea-green: #82bf11;
  --strawberry: #f63f45;
  --apricot: #ffc371;
  --cornflower-50: rgba(95, 109, 255, 0.5);
  --sandy: #f5c07c;
  --black-8: rgba(0, 0, 0, 0.08);
}

body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Montserrat', sans-serif;
}
